<h2>Inactive Users</h2>
<ul class="list-group">
    <li class="list-group-item"
        *ngFor="let Users of user; let i=index">
          
            <div class="row">
                <div class="col-md-8">
                    {{Users}}
                </div>
                <div class="col-md-offset-9">
                    <button class="btn btn-primary"
                        (click)="onSetToActivate(i)">Change to Activate</button>
                </div>  
                
            </div>
             
            
    </li>
</ul>